<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}Open Data 150 - Canada{% endblock %}</title>

        <link rel="stylesheet" href="vendor/foundation.min.css"/>
        <link rel="stylesheet" href="vendor/slick.css"/>
        <link rel="stylesheet" href="vendor/prism.css"/>
        {# <link rel="stylesheet" href="vendor/styleguide.css"/> #}
        <link rel="stylesheet" href="styles/custom-styles.css"/>
        <script src="https://use.typekit.net/mvc3cdb.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <script src="./vendor/jquery-2.1.4.min.js"></script>
        <script src="//d3js.org/d3.v3.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>
        <div style="background-color: green;">
          <h1>From base</h1>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>
